{% extends "bootstrap/base.html" %}
{% block title %}
<title>Todo アプリ</title> 
{% endblock %}

{% block content %}
<div class="container">
  <h1>Todo アプリ</h1>
  <div class="btn-group">
    <a href="/create" class="btn btn-primary">新規イベント</a>
  </div>
  <div class="sample1">
    <h1>やることリスト</h1>
    <table class="table">
      <tr>
        <th>イベント</th>
        <th>期限</th>
        <th>オプション</th>
        <th>警告</th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.due.date() }}</td>
        <td>
          <a class="btn btn-primary" href="/{{task.id}}/update" role="button">編集</a>
          <a class="btn btn-primary" href="/{{task.id}}/delete" role="button">削除</a>
        </td>
        <td>
          {% if task.due.date() == tdy + onedy %}
          <div>
          期限は明日です。
          </div>
          {% endif %}
          {% if task.due.date() == tdy %}
          <div>
            期限は今日です。
          </div>
          {% endif %}
          {% if task.due.date() < tdy %}
          <div>
            期限を過ぎています!
          </div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>  
{% endblock %}